*{
    margin: 0;
    padding: 0;
}
.color_list{            
    display: flex;            
    display: -webkit-flex;        
}        
.color_list li{            
    width: 100px;            
    height: 100px;            
    list-style: none;            
    text-align: center;            
    line-height: 100px;        
}
/* 每个li加上对应的颜色，此处省略 */
.color_list li:nth-child(1){
    background-color: red;
}
.color_list li:nth-child(2){
    background-color: orange;
}
.color_list li:nth-child(3){
    background-color: yellow;
}
.color_list li:nth-child(4){
    background-color: green;
}
.color_list li:nth-child(5){
    background-color: blue;
}
.color_list li:nth-child(6){
    background-color: purple;
}
.box{            
    width: 600px;            
    height: 150px;            
    background-color: #cccccc;            
    line-height: 150px;            
    text-align: center;        
}
